




#cuerpo-pagina #btn_blog,#cuerpo-pagina #btn_cursos{
	
	-moz-transition-property: width,height,top,left,background-size;
	-webkit-transition-property:width,height,top,left,background-size;
	-o-transition-property: width,height,top,left,background-size;
	transition-property: width,height,top,left,background-size;
	
	
	-moz-transition-timing-function: linear,linear,linear,linear,linear;
	-webkit-transition-timing-function:  linear,linear,linear,linear,linear;
	-o-transition-timing-function: linear,linear,linear,linear,linear;
	transition-timing-function:  linear,linear,linear,linear,linear;
	
	
	-moz-transition-duration: 150ms,150ms,150ms,150ms,150ms;
	-webkit-transition-duration: 150ms,150ms,150ms,150ms,150ms;
	-o-transition-duration: 150ms,150ms,150ms,150ms,150ms;
	transition-duration: 150ms,150ms,150ms,150ms,150ms;
	
	-moz-transition-delay:0ms,0ms,0ms,0ms,0ms;
	-webkit-transition-delay: 0ms,0ms,0ms,0ms,0ms;
	-o-transition-delay: 0ms,0ms,0ms,0ms,0ms;
	transition-delay: 0ms,0ms,0ms,0ms,0ms;
}



