body{
	background:url("../../IMAGENES/fondo_imagen.jpg")  center;
	
}




#cerrar_sesion{
	cursor: pointer;
	float:right;
	height:25px;
	margin-top:20px;
	margin-right:10px;
	font-weight:bold;
	
}

#cerrar_sesion #imagen{
	cursor: pointer;
	float:left;
	background:url("../../IMAGENES/cerrar_sesion.gif");
	width:30px;
	height:25px;
}

#cerrar_sesion .texto{
	cursor: pointer;
	float:left;

}

#cerrar_sesion .texto:hover{
	
	text-decoration:underline;
	color:blue;
	
}

/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/

#cabecera-pagina{
 	width:950px;
 	height:130px;
 	margin: 0px auto;
}


#cabecera-pagina #logotipo{
 	width:700px;
 	height:130px;
	background:url("../../IMAGENES/PORTAL/cabecera.png") ;
 	float:left;
 	margin: 0px auto;
}



#cuerpo-pagina{
	
	background:url("../../IMAGENES/textura1.jpg") ;
 	width:950px;
 	height:600px;
 	position:relative;
 	margin: 0px auto;
 	margin-top:30px;
	border-radius:15px;
 	box-shadow:0px 0px 30px #111;
}


#pie-pagina{
 	width:950px;
 	height:100px;
 	position:relative;
 	margin: 0px auto;
 	margin-top:0px;
}


/********************CUERPO***********/

#cuerpo-pagina #titulo{
	width:750px;
	height:20px;
	
	margin-left:100px;
	padding-top:50px;
	font-style: italic;
	border-radius:7px;
	font-size:120%;
	font-weight:bold;
	
}

#cuerpo-pagina .cuadro_hijo{
	width:750px;
	height:90px;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#FFFFFF), color-stop(.6,#FFFCA3));
	background:-moz-linear-gradient(18% 84% 90deg,#FFFFFF, #FFFCA3, #FFFFFF 84%);
	
	margin-left:100px;
	margin-top:20px;
	font-style: italic;
	border-radius:7px;
	cursor:pointer;
	
}


#cuerpo-pagina .cuadro_hijo:hover{
	width:750px;
	height:90px;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#FFFFFF), color-stop(.6,#FFD359));
	background:-moz-linear-gradient(18% 84% 90deg,#FFFFFF, #FFD359, #FFFFFF 84%);
	margin-left:100px;
	margin-top:20px;
	font-style: italic;
	border-radius:7px;
}

#cuerpo-pagina .cuadro_hijo .nombre{
	width:700px;
	height:20px;
	padding-top:10px;
	padding-left:25px;
	font-size:120%;
	font-weight:bold;
}

#cuerpo-pagina .cuadro_hijo .datos_matricula{
	width:700px;
	height:50px;
	padding-top:10px;
	padding-left:25px;
}

