body{
	background:url("../../IMAGENES/PORTAL/fondo.jpg")  center;
	
}


/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/

#cabecera-pagina{
 	width:950px;
 	height:130px;
 	margin: 0px auto;
}


#cabecera-pagina #logotipo{
 	width:700px;
 	height:130px;
	background:url("../../IMAGENES/PORTAL/cabecera.png") ;
 	float:left;
 	margin: 0px auto;
}



#cuerpo-pagina{
	background:white;
 	width:950px;
 	height:600px;
 	position:relative;
 	margin: 0px auto;
 	margin-top:30px;
}


#pie-pagina{
 	width:950px;
 	height:100px;
 	background:red;
 	position:relative;
 	margin: 0px auto;
 	margin-top:0px;
}


/********************CUERPO***********/

#cuerpo-pagina .cuadro_hijo{
	/*Aqui los estilos para cada cuadro de los hijos*/
}

