body{
	background:url("../../IMAGENES/PORTAL/fondo.jpg")  center;
	
}


/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/

#cabecera{
 	width:1250px;
 	height:150px;
 	background:yellow;
 	margin: 0px auto;
}


#cuerpo{
 	width:1250px;
 	height:600px;
 
 	margin: 0px auto;
 	margin-top:30px;
}


#pie_pagina{
 	width:1280px;
 	height:55px;
 	background:url("../../IMAGENES/PORTAL/footer.png")  center;
 	position:relative;
 	margin: 0px auto;
 	margin-top:30px;
}



/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/



#menu_vertical{
 	width:300px;
 	height:550px;
 	background:gray;
 	position:relative;
  
 	visibility:visible;
 	
 	float:left;
}


#menu_vertical .opcion{
 	width:250px;
 	height:50px;
 	margin-left:50px;
 	margin-top:2px;
 	background:blue;
  	position:relative;	
}


#menu_vertical .submenu{
 	width:200px;
 	min-height:1px;
 	margin-left:100px;
 	margin-top:2px;
 	background:white;
 	display:none;
		
}

#menu_vertical .submenu .subopcion{
 	width:200px;
 	height:30px;
 	margin-top:2px;
 	background:red;

}


#menu_vertical .submenu .subopcion [title="Seleccionado"]{
 	width:200px;
 	height:30px;
 	margin-top:2px;
 	background:yellow;

}


/************************CONTENIDO***********************/
/************************CONTENIDO***********************/
/************************CONTENIDO***********************/
/************************CONTENIDO***********************/
/************************CONTENIDO***********************/
/************************CONTENIDO***********************/
/************************CONTENIDO***********************/
/************************CONTENIDO***********************/
/************************CONTENIDO***********************/
/************************CONTENIDO***********************/
/************************CONTENIDO***********************/

#contenido{

 	width:940px; 	
 	height:600px;
 	margin-left:10px;
 	float:left;
 	background:white;
}
