body{
	background:url("../../IMAGENES/PORTAL/fondo.jpg")  center;
	
}


/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/

#cabecera{
 	width:1250px;
 	height:150px;
 	background:yellow;
 	margin: 0px auto;
}


#cuerpo{
 	width:1250px;
 	height:600px;
 
 	margin: 0px auto;
 	margin-top:30px;
}


#pie_pagina{
 	width:1280px;
 	height:55px;
 	background:url("../../IMAGENES/PORTAL/footer.png")  center;
 	position:relative;
 	margin: 0px auto;
 	margin-top:30px;
}



/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/



#menu_vertical{
 	width:300px;
 	height:550px;
 
 	position:relative;
  
 	visibility:visible;
 	
 	float:left;
}


#menu_vertical .opcion{
 	width:250px;
 	height:50px;
 	margin-left:50px;
 	margin-top:2px;
 	background:blue;
  	position:relative;	
}


#menu_vertical .opcion .texto_pestana{
 	width:250px;
 	height:50px;
 	margin-left:50px;
 	margin-top:2px;
 	background:blue;
  	position:relative;	
}




#menu_vertical .submenu{
 	width:210px;
 	min-height:1px;
 	margin-left:100px;
 	margin-top:2px;
 
 	display:none;
		
}

#menu_vertical .submenu .subopcion{
 	width:200px;
 	height:30px;
 	margin-top:2px;
	margin-left:0px;
 	background:url('../../IMAGENES/ADMINISTRACION/background_subopcion.png') repeat-y;
 	background-position:0 0;
	cursor:pointer;
	
	font-weight:normal;
}


#menu_vertical .submenu .subopcion[title="Seleccionado"]{

 	background:url('../../IMAGENES/ADMINISTRACION/background_subopcion.png') repeat-y;
 	background-position:-200px 0;
	margin-left:10px;
	
	font-weight:bold;
}



#menu_vertical .submenu .subopcion .texto_pestana{
 	width:200px;
 	text-align:center;
 	padding-top: 8px;
}

/************************CONTENIDO***********************/
/************************CONTENIDO***********************/
/************************CONTENIDO***********************/
/************************CONTENIDO***********************/
/************************CONTENIDO***********************/
/************************CONTENIDO***********************/
/************************CONTENIDO***********************/
/************************CONTENIDO***********************/
/************************CONTENIDO***********************/
/************************CONTENIDO***********************/
/************************CONTENIDO***********************/

#contenido{

 	width:920px; 	
 	height:600px;
 	margin-left:10px;
 	float:left;
 	background:white;
 	box-shadow:10px 10px 15px 1px #666;
 	
}
/*

#contenido_sobra_derecha{
	width:30px;
	height:600px;
	left: 920px;
	 position:absolute;
	background:url('../../IMAGENES/ADMINISTRACION/contenido_sobra_derecha.png') ;
}

#contenido_sombra_inferior{
	width:920px;
	height:30px;
	top: 600px;
	position:absolute;
	background:url('../../IMAGENES/ADMINISTRACION/contenido_sombra_inferior.png') ;
}

#contenido_sombra_inferior_derecha{
	width:30px;
	height:30px;
	left: 920px;
	top: 600px;
	position:absolute;
	background:url('../../IMAGENES/ADMINISTRACION/contenido_sombra_inferior_derecha.png'); 
}
*/
#contenido .area{
	float:left;
}