.contenido-pag_web .contenido_titulo{
	font-size:130%;
	font-weight:bold;
	margin-top:30px;
	margin-left:50px;
}

.contenido-pag_web #contenido-cuerpo{
	
	margin-top:20px;
	margin-left:35px;
	
}

/****************QUIENES SOMOS*********************/
/****************QUIENES SOMOS*********************/
/****************QUIENES SOMOS*********************/
/****************QUIENES SOMOS*********************/

#contenido-quienes_somos-pag_web #txt_quienes_somos{
	margin-left:20px;
	margin-top:20px;
}

#contenido-quienes_somos-pag_web #btn_aceptar{
	margin-left:20px;
	margin-top:20px;
}


/****************MISION Y VISION*******************/
/****************MISION Y VISION*******************/
/****************MISION Y VISION*******************/
/****************MISION Y VISION*******************/


#contenido-mision_vision-pag_web #txt_mision_vision{
	margin-left:20px;
	margin-top:20px;
}

#contenido-mision_vision-pag_web #btn_aceptar{
	margin-left:20px;
	margin-top:20px;
}


/****************METODOLOGIA*******************/
/****************METODOLOGIA*******************/
/****************METODOLOGIA*******************/
/****************METODOLOGIA*******************/


#contenido-metodologia-pag_web .reglon{
	width:650px;
	margin-top:15px;
}

#contenido-metodologia-pag_web #txt_metodologia{
	margin-left:20px;
	margin-top:20px;
}

#contenido-metodologia-pag_web #btn_aceptar{
	margin-left:20px;
	margin-top:20px;
}


/****************ACTIVIDAD*******************/
/****************ACTIVIDAD*******************/
/****************ACTIVIDAD*******************/
/****************ACTIVIDAD*******************/



#contenido-actividades-pag_web .reglon{
	width:650px;
	margin-top:15px;
}

#contenido-actividades-pag_web #txt_actividades{
	margin-left:20px;
	margin-top:20px;
}

#contenido-actividades-pag_web #btn_aceptar{
	margin-left:20px;
	margin-top:20px;
}


/****************ADMISION*******************/
/****************ADMISION*******************/
/****************ADMISION*******************/
/****************ADMISION*******************/



#contenido-admision-pag_web .reglon{
	width:650px;
	margin-top:15px;
}

#contenido-admision-pag_web #txt_admision{
	margin-left:20px;
	margin-top:20px;
}

#contenido-admision-pag_web #btn_aceptar{
	margin-left:20px;
	margin-top:20px;
}


/****************SERVICIOS*******************/
/****************SERVICIOS*******************/
/****************SERVICIOS*******************/
/****************SERVICIOS*******************/



#contenido-servicios-pag_web .reglon{
	width:650px;
	margin-top:15px;
}

#contenido-servicios-pag_web #txt_servicio{
	margin-left:20px;
	margin-top:20px;
}

#contenido-servicios-pag_web #servicios_agregados{
	margin-left:20px;
	margin-top:20px;
	width:600px;
	margin-bottom:25px;
}

#contenido-servicios-pag_web #servicios_agregados .titulo_servicio{
	font-weight:bold;
	font-size:110%;
}

#contenido-servicios-pag_web #servicios_agregados .concepto_servicio{
	margin-left:15px;
	margin-bottom:15px;
}


#contenido-servicios-pag_web #btn_agregar{
	margin-left:20px;
	margin-top:20px;
}



/**************************************************/
/****************SUBIDA DE FOTOS*******************/
/****************SUBIDA DE FOTOS*******************/
/****************SUBIDA DE FOTOS*******************/
/****************SUBIDA DE FOTOS*******************/
/****************SUBIDA DE FOTOS*******************/
/**************************************************/

#contenido-subida_fotos-pag_web #caja_superior {
	margin-top:30px;
	margin-left:30px;
	float:left;
	
}


#contenido-subida_fotos-pag_web #upload_button {
	margin-top:30px;
	margin-left:30px;
	float:left;
	
}



#contenido-subida_fotos-pag_web #lista_fotos {
	margin-top:30px;
	margin-left:30px;
	float:left;
	width:470px; height:450px; border:1px solid black;
	
	overflow-x:hidden;
	overflow-y:visible;
}


#contenido-subida_fotos-pag_web #lista_fotos #casilla_foto {
	margin-top:20px;
	margin-left:20px;
	float:left;
	width:130px; height:130px;
	background:#CCC; 
}

#contenido-subida_fotos-pag_web #lista_fotos #casilla_foto input {

	cursor:pointer;
}


#contenido-subida_fotos-pag_web #lista_fotos #casilla_foto #foto {
	margin-top:0px;
	margin-left:20px;
	float:left;
	width:100px; height:100px;
	background-size:100px;
	cursor:pointer;
}

#contenido-subida_fotos-pag_web #lista_fotos #casilla_foto #foto:hover{
	border:1px blue solid;
}



#contenido-subida_fotos-pag_web #eliminar_foto {
	margin-top:460px;
	margin-left:15px;
	
	text-decoration:underline;
	color:blue;
	cursor:pointer;
	float:left;
	
}


#protector_marco_foto
{    opacity: .40;
  	top: 0px;
	background-color: #FFF;
	height:100%;
	width:100%;
	position: fixed;
	display: none;
	z-index: 130;
}


#marco_foto_mostrada{
	
	position: absolute;
	width: 400px;
	height: 400px;
	background-color: white;

	z-index:140;
	
	box-shadow:0px 0px 10px 10px #666;
	
	display:none;
}


#marco_foto_mostrada #boton_cerrar{
	
	width: 16px;
	height: 16px;
	background-image:url("../../IMAGENES/PORTAL/ALBUM_FOTOS/cerrar.png");
	margin-right:2px;
	margin-top:2px;
	float:right;
	z-index:140;
	cursor:pointer;
	border:1px #888 solid;
		
}


#marco_foto_mostrada img{
	
	margin-left:20px;
	margin-top:20px;
}


