
/*******************Transiciones*****************/



#menu_vertical .submenu .subopcion{
	
	-moz-transition-property: margin-left,background-position,font-weight;
	-webkit-transition-property: margin-left,background-position,font-weight;
	-o-transition-property: margin-left,background-position,font-weight;
	transition-property: margin-left,background-position,font-weight;
	
	
	-moz-transition-timing-function: linear,linear,linear;
	-webkit-transition-timing-function:  linear,linear,linear;
	-o-transition-timing-function: linear,linear,linear;
	transition-timing-function:  easlineare,linear,linear;
	
	
	-moz-transition-duration: 300ms,300ms,300ms;
	-webkit-transition-duration: 300ms,300ms,300ms;
	-o-transition-duration: 300ms,300ms,300ms;
	transition-duration: 300ms,300ms,300ms;
	
	-moz-transition-delay: 0ms,0ms,0ms;
	-webkit-transition-delay: 0ms,0ms,0ms;
	-o-transition-delay: 0ms,0ms,0ms;
	transition-delay: 0ms,0ms,0ms;
}


