body{
	background:url("../../IMAGENES/PORTAL/fondo.jpg")  center;
	
	overflow-x:hidden;
	overflow-y:hidden;
}


/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/

#cabecera{
 	width:1250px;
 	height:150px;
 	background:yellow;
 	margin: 0px auto;
}


#cuerpo{
 	width:1250px;
 	height:515px;
 	position:relative;
 	margin: 0px auto;
 	margin-top:30px;
}


#pie_pagina{
 	width:1280px;
 	height:105px;
 	background:url("../../IMAGENES/PORTAL/footer.png")  center;
 	position:relative;
 	margin: 0px auto;
 	margin-top:30px;
}



/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/



#contenedor_menu{
 	width:337px;
 	height:553px;
 	background:url("../../IMAGENES/PORTAL/minicuadernillo.png")  no-repeat;
 	
 	position:absolute;
 	left: 270px;
 	top: 0px;
 	visibility:visible;
 	z-index:50;
}


#menu_vertical{
 	width:315px;
 	height:553px;
 	background:url("../../IMAGENES/PORTAL/lapiz.png") 0 20px no-repeat;
 		
 	margin-left:37px;
 	margin-top:60px;
 	
}


#menu_vertical .opcion{
 	width:300px;
 	height:30px;
 	
 	text-align:center;
 	margin-top:30px;
 	margin-left:20px;
 	font-size: 110%;
 	float:left;
 	font-weight:bold;
 	cursor:pointer;
}


#menu_vertical .opcion[title="Seleccionada"]{
 	font-family: cursive;
 	
 	font-size: 115%;
}



/************************CATALOGO***********************/
/************************CATALOGO***********************/
/************************CATALOGO***********************/
/************************CATALOGO***********************/
/************************CATALOGO***********************/
/************************CATALOGO***********************/
/************************CATALOGO***********************/
/************************CATALOGO***********************/
/************************CATALOGO***********************/
/************************CATALOGO***********************/
/************************CATALOGO***********************/

#catalogo{

 	width:1250px;
 	height:500px;
}

#catalogo #contenido{
	width:1100px;
 	height:550px;
 	float:left;
 	position: relative;
}

#catalogo #contenido #cara_1{
 	background:orange;
	width:550px;
 	height:550px;
 	
 	position:absolute;
 	left:550px;
 	
 	z-index:30;
}


#catalogo #contenido #cara_2{
 	background:green;
	width:550px;
 	height:550px;
 	
 	position:absolute;
 	left:550px;
 	
 	z-index:20;
}


#catalogo #contenido #cara_3{
 	background:blue;
	width:550px;
 	height:550px;
 	
 	position:absolute;
 	left:550px;
 	
 	z-index:10;
}


#catalogo #contenido #cara_4{
 	background:orange;
	width:550px;
 	height:550px;
 	
 	position:absolute;
 	left:550px;
 	
 	z-index:0;
}

#catalogo #opciones_vertical {
	
	width:90px;
 	height:550px;
 	float:left;
}


#catalogo #opciones_vertical #opcion_inicial{
	
	width:30px;
 	height:550px;
 	background:#4F4;
 	float:left;
}

#catalogo #opciones_vertical #opcion_primaria{
	
	width:30px;
 	height:550px;
 	background:#44F;
 	float:left;
 	
}

#catalogo #opciones_vertical #opcion_secundaria{
	
	width:30px;
 	height:550px;
 	background:#FAA;
 	float:left;
 	
}


#catalogo #opciones_vertical_izq {
	
	width:60px;
 	height:550px;
 	float:left;
 	position:relative;
 	visibility:hidden;
}


#catalogo #opciones_vertical_izq #opcion_inicial{
	
	width:30px;
 	height:550px;
 	background:#4F4;
 	
 	
 	left:60px;
 	position:absolute;
}

#catalogo #opciones_vertical_izq #opcion_primaria{
	
	width:30px;
 	height:550px;
 	background:#44F;
 	float:right;
 	left:90px;

 	position:absolute;
}



#catalogo #opciones_vertical_izq #cerrar_catalogo{
	
	width:30px;
 	height:150px;
 	margin-top:400px;
 	background:orange;
 	float:right;
 	display:none;
 	
}





#catalogo  #contenido #sub_menu_inferior{
	
	position: absolute;
	width: 400px;
	height: 40px;
	
	left:0px;
	bottom:0px;
	
	z-index:50;
	
	display:none;
}


#catalogo  #contenido #sub_menu_inferior .opcion{
	background:red;
	font-size: 15px;
	width: 130px;
	height: 16px;
	
	float:left;
	margin-left:10px;
	
	text-align:center;
	vertical-align:middle;	
	padding-top:7px;	
	padding-bottom:7px;
	margin-top:10px;
	cursor:pointer;
}



#catalogo  #contenido #sub_menu_inferior .opcion[title="Seleccionada"]{ 
	background:white;
	
	margin-top:0px;
}
