
#menu_vertical{
	
	-moz-transition-property: background-position,z-index;
	-webkit-transition-property: background-position,z-index;
	-o-transition-property: background-position,z-index;
	transition-property: background-position,z-index;
	
	
	-moz-transition-timing-function: ease,linear;
	-webkit-transition-timing-function:  ease,linear;
	-o-transition-timing-function: ease,linear;
	transition-timing-function:  ease,linear;
	
	
	-moz-transition-duration: 300ms,0ms;
	-webkit-transition-duration: 300ms,0ms;
	-o-transition-duration: 300ms,0ms;
	transition-duration: 300ms,0ms;
	
	-moz-transition-delay: 0ms,0ms,;
	-webkit-transition-delay: 0ms,0ms;
	-o-transition-delay: 0ms,0ms;
	transition-delay: 0ms,0ms;
}


#menu_vertical .opcion{
	
	-moz-transition-property: font-family;
	-webkit-transition-property: font-family;
	-o-transition-property: font-family;
	transition-property: font-family;
	
	
	-moz-transition-timing-function: linear;
	-webkit-transition-timing-function:  linear;
	-o-transition-timing-function: linear;
	transition-timing-function:  linear;
	
	
	-moz-transition-duration: 300ms;
	-webkit-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	transition-duration: 300ms;
	
	-moz-transition-delay: 300ms,;
	-webkit-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	transition-delay: 300ms;
}




/*******************Transiciones usadas en la animación del album de fotos*****************/
/*******************Transiciones usadas en la animación del album de fotos*****************/
/*******************Transiciones usadas en la animación del album de fotos*****************/
/*******************Transiciones usadas en la animación del album de fotos*****************/
/*******************Transiciones usadas en la animación del album de fotos*****************/
/*******************Transiciones usadas en la animación del album de fotos*****************/
/*******************Transiciones usadas en la animación del album de fotos*****************/
/*******************Transiciones usadas en la animación del album de fotos*****************/
/*******************Transiciones usadas en la animación del album de fotos*****************/
/*******************Transiciones usadas en la animación del album de fotos*****************/
/*******************Transiciones usadas en la animación del album de fotos*****************/
/*******************Transiciones usadas en la animación del album de fotos*****************/


#galeria_fotos #contenido-inicial-galeria_fotos{
	
	-moz-transition-property: margin-left;
	-webkit-transition-property: margin-left;
	-o-transition-property: margin-left;
	transition-property: margin-left;
	
	
	-moz-transition-timing-function: linear;
	-webkit-transition-timing-function:  linear;
	-o-transition-timing-function: linear;
	transition-timing-function:  linear;
	
	
	-moz-transition-duration: 300ms;
	-webkit-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	transition-duration: 300ms;
	
	-moz-transition-delay: 0ms;
	-webkit-transition-delay: 0ms;
	-o-transition-delay: 0ms;
	transition-delay: 0ms;
}



/*******************Transiciones usadas en la animación del catalogo*****************/
/*******************Transiciones usadas en la animación del catalogo*****************/
/*******************Transiciones usadas en la animación del catalogo*****************/
/*******************Transiciones usadas en la animación del catalogo*****************/
/*******************Transiciones usadas en la animación del catalogo*****************/
/*******************Transiciones usadas en la animación del catalogo*****************/
/*******************Transiciones usadas en la animación del catalogo*****************/
/*******************Transiciones usadas en la animación del catalogo*****************/
/*******************Transiciones usadas en la animación del catalogo*****************/
/*******************Transiciones usadas en la animación del catalogo*****************/
/*******************Transiciones usadas en la animación del catalogo*****************/
/*******************Transiciones usadas en la animación del catalogo*****************/
/*******************Transiciones usadas en la animación del catalogo*****************/
/*******************Transiciones usadas en la animación del catalogo*****************/
/*******************Transiciones usadas en la animación del catalogo*****************/
/*******************Transiciones usadas en la animación del catalogo*****************/
/*******************Transiciones usadas en la animación del catalogo*****************/



.transicion800_delay800{
	
	-moz-transition-property: left,background-color,z-index;
	-webkit-transition-property: left,background-color,z-index;
	-o-transition-property: left,background-color,z-index;
	transition-property: left,background-color,z-index;
	
	
	-moz-transition-timing-function: ease,linear,linear;
	-webkit-transition-timing-function:  ease,linear,linear;
	-o-transition-timing-function: ease,linear,linear;
	transition-timing-function:  ease,linear,linear;
	
	
	-moz-transition-duration: 800ms,200ms,0ms;
	-webkit-transition-duration: 800ms,200ms,0ms;
	-o-transition-duration: 800ms,200ms,0ms;
	transition-duration: 800ms,200ms,0ms;
	
	-moz-transition-delay: 800ms,800ms,800ms;
	-webkit-transition-delay: 800ms,800ms,800ms;
	-o-transition-delay: 800ms,800ms,800ms;
	transition-delay: 800ms,800ms,800ms;
}




.transicion800_delay1600{
	
	-moz-transition-property: left,background-color,z-index;
	-webkit-transition-property: left,background-color,z-index;
	-o-transition-property: left,background-color,z-index;
	transition-property: left,background-color,z-index;
	
	
	-moz-transition-timing-function: ease,linear,linear;
	-webkit-transition-timing-function:  ease,linear,linear;
	-o-transition-timing-function: ease,linear,linear;
	transition-timing-function:  ease,linear,linear;
	
	
	-moz-transition-duration: 800ms,200ms,0ms;
	-webkit-transition-duration: 800ms,200ms,0ms;
	-o-transition-duration: 800ms,200ms,0ms;
	transition-duration: 800ms,200ms,0ms;
	
	-moz-transition-delay: 1600ms,1600ms,1600ms;
	-webkit-transition-delay: 1600ms,1600ms,1600ms;
	-o-transition-delay: 1600ms,1600ms,1600ms;
	transition-delay: 1600ms,1600ms,1600ms;
}




.trans_pag_1_der_izq,.trans_pag_2_der_izq{/*esta transicion hace el cambio suave e inmediato en las propiedades left y background y luego de 800ms se hace el cambio en z-index*/
	
	-moz-transition-property: left,background-color,z-index;
	-webkit-transition-property: left,background-color,z-index;
	-o-transition-property: left,background-color,z-index;
	transition-property: left,background-color,z-index;
	
	
	-moz-transition-timing-function: ease,linear,linear;
	-webkit-transition-timing-function:  ease,linear,linear;
	-o-transition-timing-function: ease,linear,linear;
	transition-timing-function:  ease,linear,linear;
	
	
	-moz-transition-duration: 800ms,200ms,0ms;
	-webkit-transition-duration: 800ms,200ms,0ms;
	-o-transition-duration: 800ms,200ms,0ms;
	transition-duration: 800ms,200ms,0ms;
	
	-moz-transition-delay: 0ms,0ms,800ms;
	-webkit-transition-delay: 0ms,0ms,800ms;
	-o-transition-delay: 0ms,0ms,800ms;
	transition-delay: 80ms,0ms,800ms;
}

.trans_pag_2_der_izq_delay800{  /*esta transicion es como la normal pero la diferencia es que tiene 800ms de delay en todas sus transiciones*/
		
	-moz-transition-property: left,background-color,z-index;
	-webkit-transition-property: left,background-color,z-index;
	-o-transition-property: left,background-color,z-index;
	transition-property: left,background-color,z-index;
	
	
	-moz-transition-timing-function: ease,linear,linear;
	-webkit-transition-timing-function:  ease,linear,linear;
	-o-transition-timing-function: ease,linear,linear;
	transition-timing-function:  ease,linear,linear;
	
	
	-moz-transition-duration: 800ms,200ms,0ms;
	-webkit-transition-duration: 800ms,200ms,0ms;
	-o-transition-duration: 800ms,200ms,0ms;
	transition-duration: 800ms,200ms,0ms;
	
	-moz-transition-delay: 800ms,800ms,1600ms;
	-webkit-transition-delay: 800ms,800ms,1600ms;
	-o-transition-delay: 800ms,800ms,1600ms;
	transition-delay: 800ms,800ms,1600ms;
}







.trans_pag_3_der_izq{/*esta transicion es diferente ya que hace el cambio inmediato en el z-index*/
	
	-moz-transition-property: left,background-color,z-index;
	-webkit-transition-property: left,background-color,z-index;
	-o-transition-property: left,background-color,z-index;
	transition-property: left,background-color,z-index;
	
	
	-moz-transition-timing-function: ease,linear,linear;
	-webkit-transition-timing-function:  ease,linear,linear;
	-o-transition-timing-function: ease,linear,linear;
	transition-timing-function:  ease,linear,linear;
	
	
	-moz-transition-duration: 800ms,200ms,0ms;
	-webkit-transition-duration: 800ms,200ms,0ms;
	-o-transition-duration: 800ms,200ms,0ms;
	transition-duration: 800ms,200ms,0ms;
	
	-moz-transition-delay: 0ms,0ms,0ms;
	-webkit-transition-delay: 0ms,0ms,0ms;
	-o-transition-delay: 0ms,0ms,0ms;
	transition-delay: 0ms,0ms,0ms;
}






.trans_pag_3_der_izq_delay800{/*esta transicion es diferente ya que hace el cambio inmediato en el z-index*/
	
	-moz-transition-property: left,background-color,z-index;
	-webkit-transition-property: left,background-color,z-index;
	-o-transition-property: left,background-color,z-index;
	transition-property: left,background-color,z-index;
	
	
	-moz-transition-timing-function: ease,linear,linear;
	-webkit-transition-timing-function:  ease,linear,linear;
	-o-transition-timing-function: ease,linear,linear;
	transition-timing-function:  ease,linear,linear;
	
	
	-moz-transition-duration: 800ms,200ms,0ms;
	-webkit-transition-duration: 800ms,200ms,0ms;
	-o-transition-duration: 800ms,200ms,0ms;
	transition-duration: 800ms,200ms,0ms;
	
	-moz-transition-delay: 800ms,800ms,800ms;
	-webkit-transition-delay: 800ms,800ms,800ms;
	-o-transition-delay: 800ms,800ms,800ms;
	transition-delay: 800ms,800ms,800ms;
}







.trans_pag_3_der_izq_delay1600{/*esta transicion es diferente ya que hace el cambio inmediato en el z-index*/
	
	-moz-transition-property: left,background-color,z-index;
	-webkit-transition-property: left,background-color,z-index;
	-o-transition-property: left,background-color,z-index;
	transition-property: left,background-color,z-index;
	
	
	-moz-transition-timing-function: ease,linear,linear;
	-webkit-transition-timing-function:  ease,linear,linear;
	-o-transition-timing-function: ease,linear,linear;
	transition-timing-function:  ease,linear,linear;
	
	
	-moz-transition-duration: 800ms,200ms,0ms;
	-webkit-transition-duration: 800ms,200ms,0ms;
	-o-transition-duration: 800ms,200ms,0ms;
	transition-duration: 800ms,200ms,0ms;
	
	-moz-transition-delay: 1600ms,1600ms,1600ms;
	-webkit-transition-delay: 1600ms,1600ms,1600ms;
	-o-transition-delay: 1600ms,1600ms,1600ms;
	transition-delay:  1600ms,1600ms,1600ms;
}




.trans_pag_1_izq_der{/* En este caso se hace el desplazamiento de izq a la derecha de la página 2, para esto se hace un cambio inmediato en todas las transiciones, con un delay = 0 */
	
	-moz-transition-property: left,background-color,z-index;
	-webkit-transition-property: left,background-color,z-index;
	-o-transition-property: left,background-color,z-index;
	transition-property: left,background-color,z-index;
	
	
	-moz-transition-timing-function: ease,linear,linear;
	-webkit-transition-timing-function:  ease,linear,linear;
	-o-transition-timing-function: ease,linear,linear;
	transition-timing-function:  ease,linear,linear;
	
	
	-moz-transition-duration: 800ms,200ms,0ms;
	-webkit-transition-duration: 800ms,200ms,0ms;
	-o-transition-duration: 800ms,200ms,0ms;
	transition-duration: 800ms,200ms,0ms;
	
	-moz-transition-delay: 500ms,500ms,500ms;
	-webkit-transition-delay: 500ms,500ms,500ms;
	-o-transition-delay: 500ms,500ms,500ms;
	transition-delay: 500ms,500ms,500ms;
}



.trans_pag_2_izq_der{/* En este caso se hace el desplazamiento de izq a la derecha de la página 2, para esto se hace un cambio inmediato en todas las transiciones, con un delay = 0 */
	
	-moz-transition-property: left,background-color,z-index;
	-webkit-transition-property: left,background-color,z-index;
	-o-transition-property: left,background-color,z-index;
	transition-property: left,background-color,z-index;
	
	
	-moz-transition-timing-function: ease,linear,linear;
	-webkit-transition-timing-function:  ease,linear,linear;
	-o-transition-timing-function: ease,linear,linear;
	transition-timing-function:  ease,linear,linear;
	
	
	-moz-transition-duration: 800ms,200ms,0ms;
	-webkit-transition-duration: 800ms,200ms,0ms;
	-o-transition-duration: 800ms,200ms,0ms;
	transition-duration: 800ms,200ms,0ms;
	
	-moz-transition-delay: 0ms,0ms,0ms;
	-webkit-transition-delay: 0ms,0ms,0ms;
	-o-transition-delay: 0ms,0ms,0ms;
	transition-delay: 0ms,0ms,0ms;
}






.trans_pag_2_izq_der_delay800{/* En este caso se hace el desplazamiento de izq a la derecha de la página 2, para esto se hace un cambio inmediato en todas las transiciones, con un delay = 0 */
	
	-moz-transition-property: left,background-color,z-index;
	-webkit-transition-property: left,background-color,z-index;
	-o-transition-property: left,background-color,z-index;
	transition-property: left,background-color,z-index;
	
	
	-moz-transition-timing-function: ease,linear,linear;
	-webkit-transition-timing-function:  ease,linear,linear;
	-o-transition-timing-function: ease,linear,linear;
	transition-timing-function:  ease,linear,linear;
	
	
	-moz-transition-duration: 800ms,200ms,0ms;
	-webkit-transition-duration: 800ms,200ms,0ms;
	-o-transition-duration: 800ms,200ms,0ms;
	transition-duration: 800ms,200ms,0ms;
	
	-moz-transition-delay: 800ms,800ms,800ms;
	-webkit-transition-delay: 800ms,800ms,800ms;
	-o-transition-delay: 800ms,800ms,800ms;
	transition-delay: 800ms,800ms,800ms;
}





.trans_pag_3_izq_der{/* En este caso se hace el desplazamiento de izq a la derecha de la página 2, para esto se hace un cambio inmediato en todas las transiciones, con un delay = 0 */
	
	-moz-transition-property: left,background-color,z-index;
	-webkit-transition-property: left,background-color,z-index;
	-o-transition-property: left,background-color,z-index;
	transition-property: left,background-color,z-index;
	
	
	-moz-transition-timing-function: ease,linear,linear;
	-webkit-transition-timing-function:  ease,linear,linear;
	-o-transition-timing-function: ease,linear,linear;
	transition-timing-function:  ease,linear,linear;
	
	
	-moz-transition-duration: 800ms,200ms,0ms;
	-webkit-transition-duration: 800ms,200ms,0ms;
	-o-transition-duration: 800ms,200ms,0ms;
	transition-duration: 800ms,200ms,0ms;
	
	-moz-transition-delay: 0ms,0ms,800ms;
	-webkit-transition-delay: 0ms,0ms,800ms;
	-o-transition-delay: 0ms,0ms,800ms;
	transition-delay: 0ms,0ms,800ms;
}





.trans_opcion_submenu_inferior{/* En este caso se hace el desplazamiento de izq a la derecha de la página 2, para esto se hace un cambio inmediato en todas las transiciones, con un delay = 0 */
	
	-moz-transition-property: background-color,margin-top;
	-webkit-transition-property: background-color,margin-top;
	-o-transition-property: background-color,margin-top;
	transition-property: background-color,margin-top;
	
	
	-moz-transition-timing-function: linear,linear;
	-webkit-transition-timing-function:  linear,linear;
	-o-transition-timing-function: linear,linear;
	transition-timing-function:  linear,linear;
	
	
	-moz-transition-duration: 300ms,150ms;
	-webkit-transition-duration: 300ms,150ms;
	-o-transition-duration: 300ms,150ms;
	transition-duration: 300ms,150ms;
	
	-moz-transition-delay: 0ms,0ms;
	-webkit-transition-delay: 0ms,0ms;
	-o-transition-delay: 0ms,0ms;
	transition-delay: 0ms,0ms;
}


/****************EFECTOS DE DESPLAZAMIENTO PARA LOS BOTONES LATERALES IZQUIERDOS*****************/



.trans_opciones_vertical_izq_delay800{ /****/
	
	-moz-transition-property: visibility;
	-webkit-transition-property: visibility;
	-o-transition-property: visibility;
	transition-property: visibility;
	
	
	-moz-transition-timing-function: linear;
	-webkit-transition-timing-function:  linear;
	-o-transition-timing-function: linear;
	transition-timing-function:  linear;
	
	
	-moz-transition-duration: 0ms;
	-webkit-transition-duration: 0ms;
	-o-transition-duration: 0ms;
	transition-duration: 0ms;
	
	-moz-transition-delay: 800ms;
	-webkit-transition-delay: 800ms;
	-o-transition-delay: 800ms;
	transition-delay: 800ms;
}


.trans_opciones_vertical_izq{ /****/
	
	-moz-transition-property: visibility;
	-webkit-transition-property: visibility;
	-o-transition-property: visibility;
	transition-property: visibility;
	
	
	-moz-transition-timing-function: linear;
	-webkit-transition-timing-function:  linear;
	-o-transition-timing-function: linear;
	transition-timing-function:  linear;
	
	
	-moz-transition-duration: 0ms;
	-webkit-transition-duration: 0ms;
	-o-transition-duration: 0ms;
	transition-duration: 0ms;
	
	-moz-transition-delay: 0ms;
	-webkit-transition-delay: 0ms;
	-o-transition-delay: 0ms;
	transition-delay: 0ms;
}




.trans_opcion_inicial_submenu_izq{ /**este efecto nos permitira hacer un desplazamiento hacia la izquierda de la opcion INICIAL del submenu izquierdo**/
	
	-moz-transition-property: left;
	-webkit-transition-property: left;
	-o-transition-property: left;
	transition-property: left;
	
	
	-moz-transition-timing-function: linear;
	-webkit-transition-timing-function:  linear;
	-o-transition-timing-function: linear;
	transition-timing-function:  linear;
	
	
	-moz-transition-duration: 300ms;
	-webkit-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	transition-duration: 300ms;
	
	-moz-transition-delay: 500ms;
	-webkit-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	transition-delay: 500ms;
}



.trans_opcion_primaria_submenu_izq{ /**este efecto nos permitira hacer un desplazamiento hacia la izquierda de la opcion INICIAL del submenu izquierdo**/
	
	-moz-transition-property: left;
	-webkit-transition-property: left;
	-o-transition-property: left;
	transition-property: left;
	
	
	-moz-transition-timing-function: linear;
	-webkit-transition-timing-function:  linear;
	-o-transition-timing-function: linear;
	transition-timing-function:  linear;
	
	
	-moz-transition-duration: 300ms;
	-webkit-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	transition-duration: 300ms;
	
	-moz-transition-delay: 500ms;
	-webkit-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	transition-delay: 500ms;
}







.trans_opcion_inicial_submenu_izq_delay800{ /**este efecto nos permitira hacer un desplazamiento hacia la izquierda de la opcion INICIAL del submenu izquierdo**/
	
	-moz-transition-property: left;
	-webkit-transition-property: left;
	-o-transition-property: left;
	transition-property: left;
	
	
	-moz-transition-timing-function: linear;
	-webkit-transition-timing-function:  linear;
	-o-transition-timing-function: linear;
	transition-timing-function:  linear;
	
	
	-moz-transition-duration: 300ms;
	-webkit-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	transition-duration: 300ms;
	
	-moz-transition-delay: 1300ms;
	-webkit-transition-delay: 1300ms;
	-o-transition-delay: 1300ms;
	transition-delay: 1300ms;
}



.trans_opcion_primaria_submenu_izq_delay800{ /**este efecto nos permitira hacer un desplazamiento hacia la izquierda de la opcion INICIAL del submenu izquierdo**/
	
	-moz-transition-property: left;
	-webkit-transition-property: left;
	-o-transition-property: left;
	transition-property: left;
	
	
	-moz-transition-timing-function: linear;
	-webkit-transition-timing-function:  linear;
	-o-transition-timing-function: linear;
	transition-timing-function:  linear;
	
	
	-moz-transition-duration: 300ms;
	-webkit-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	transition-duration: 300ms;
	
	-moz-transition-delay: 1300ms;
	-webkit-transition-delay: 1300ms;
	-o-transition-delay: 1300ms;
	transition-delay: 1300ms;
}




/************TRANSICION DE EFECTO PARA EL SUBMENU INFERIOR**********/




.trans_submenu_inferior{
	
	-moz-transition-property: display,background-color;
	-webkit-transition-property: display,background-color;;
	-o-transition-property: display,background-color;;
	transition-property: display,background-color;;
	
	
	-moz-transition-timing-function: linear,linear;
	-webkit-transition-timing-function:  linear,linear;
	-o-transition-timing-function: linear,linear;
	transition-timing-function:  linear,linear;
	
	
	-moz-transition-duration: 150ms,800ms;
	-webkit-transition-duration: 150ms,800ms;
	-o-transition-duration: 150ms,800ms;
	transition-duration: 150ms,800ms;
	
	-moz-transition-delay: 800ms,800ms;
	-webkit-transition-delay: 800ms,800ms;
	-o-transition-delay: 800ms,800ms;
	transition-delay: 800ms,800ms;
}


/*******************Fin de Transiciones usadas en la animación del catalogo*****************/
/*******************Fin de Transiciones usadas en la animación del catalogo*****************/
/*******************Fin de Transiciones usadas en la animación del catalogo*****************/
/*******************Fin de Transiciones usadas en la animación del catalogo*****************/
/*******************Fin de Transiciones usadas en la animación del catalogo*****************/
/*******************Fin de Transiciones usadas en la animación del catalogo*****************/
/*******************Fin de Transiciones usadas en la animación del catalogo*****************/
/*******************Fin de Transiciones usadas en la animación del catalogo*****************/
/*******************Fin de Transiciones usadas en la animación del catalogo*****************/
/*******************Fin de Transiciones usadas en la animación del catalogo*****************/
/*******************Fin de Transiciones usadas en la animación del catalogo*****************/
/*******************Fin de Transiciones usadas en la animación del catalogo*****************/
/*******************Fin de Transiciones usadas en la animación del catalogo*****************/
/*******************Fin de Transiciones usadas en la animación del catalogo*****************/
/*******************Fin de Transiciones usadas en la animación del catalogo*****************/