
#cuerpo-pagina .cuadro_hijo{
	
	-moz-transition-property: background;
	-webkit-transition-property: background;
	-o-transition-property: background;
	transition-property: background;
	
	
	-moz-transition-timing-function: ease;
	-webkit-transition-timing-function:  ease;
	-o-transition-timing-function: ease;
	transition-timing-function:  ease;
	
	
	-moz-transition-duration: 300ms;
	-webkit-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	transition-duration: 300ms;

	-moz-transition-delay: 0ms;
	-webkit-transition-delay: 0ms;
	-o-transition-delay: 0ms;
	transition-delay: 0ms;
}
