body{
	background:url("../../IMAGENES//fondo_imagen.jpg")  center;
	
}



#cerrar_sesion{
	cursor: pointer;
	float:right;
	height:25px;
	margin-top:20px;
	margin-right:10px;
	font-weight:bold;
	
}

#cerrar_sesion #imagen{
	cursor: pointer;
	float:left;
	background:url("../../IMAGENES/cerrar_sesion.gif");
	width:30px;
	height:25px;
}

#cerrar_sesion .texto{
	cursor: pointer;
	float:left;

}

#cerrar_sesion .texto:hover{
	
	text-decoration:underline;
	color:blue;
	
}



/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/

#cabecera-pagina{
 	width:950px;
 	height:130px;
 	
 	margin: 0px auto;
}


#cabecera-pagina #logotipo{
 	width:700px;
 	height:130px;
 	background:green;
 	float:left;
 	margin: 0px auto;
}



#cuerpo-pagina{
 	width:950px;
 	height:600px;
 	position:relative;
 	margin: 0px auto;
 	margin-top:30px;
}




#pie-pagina{
 	width:950px;
 	height:100px;
 	position:relative;
 	margin: 0px auto;
 	margin-top:0px;
}


/********************CUERPO***********/

#cuerpo-pagina .boton_area{
	background:blue;
 	width:200px;
 	height:200px;
 	float:left;
 	position:absolute;
}


#cuerpo-pagina #btn_blog{
	
 	top:100px;
 	left:150px;
 	
	background:url("../../IMAGENES/blog.png")  center;
	background-size:200px;
}

#cuerpo-pagina #btn_blog:hover{
	
	top:75px;
 	left:125px;
 	
 	
 	width:250px;
 	height:250px;
 	
	background-size:250px;
}

#cuerpo-pagina #btn_cursos{
	
 	top:100px;
 	left:500px;
 	
	background:url("../../IMAGENES/mis_cursos.png")  center;
	background-size:200px;
}

#cuerpo-pagina #btn_cursos:hover{
	
	top:75px;
 	left:475px;
 	
 	
 	width:250px;
 	height:250px;
 	
	background-size:250px;
}

