/*************POP UPS******************************//*************POP UPS******************************//*************POP UPS******************************//*************POP UPS******************************//*************POP UPS******************************//*************POP UPS******************************//*************POP UPS******************************//*************POP UPS******************************//*************POP UPS******************************//*************POP UPS******************************//*************POP UPS******************************/
.pop_up{
	position: Absolute;
	color:black;	
	display:none;
	z-index: 250;
}

.pop_up_general{	
	position: fixed;
	margin: auto;
	font-weight:bold;	
	color:black;	
	display:none;
	z-index:250;	
}

.seccion_popup{
	background-color: #FFF;
	border:solid 1px;	
	border-color:#444;		
}

.pop_up #titulo_popup{
	border-radius:6px 6px 0px 0px;
	background:-webkit-gradient(linear, 100% 100%, 0% 100%, from(#B5B5B5), to(#B5B5B5), color-stop(.5,#FFFFFF),color-stop(.8,#FFFFFF),color-stop(.2,#FFFFFF));
	background:	-moz-linear-gradient(100% 100% 180deg,#B5B5B5, #FFFFFF, #FFFFFF 40%,#FFFFFF 75%,#B5B5B5 100%);
}
.pop_up #cuerpo_popup{
	background:-webkit-gradient(linear, 100% 100%, 0% 100%, from(#B5B5B5), to(#B5B5B5), color-stop(.5,#FFFFFF),color-stop(.8,#FFFFFF),color-stop(.2,#FFFFFF));
	background:	-moz-linear-gradient(100% 100% 180deg,#B5B5B5, #FFFFFF, #FFFFFF 40%,#FFFFFF 75%,#B5B5B5 100%);
}


.pop_up #pie_popup{
	border-radius:0px 0px 6px 6px;
	background:-webkit-gradient(linear, 100% 100%, 0% 100%, from(#B5B5B5), to(#B5B5B5), color-stop(.5,#FFFFFF),color-stop(.8,#FFFFFF),color-stop(.2,#FFFFFF));
	background:	-moz-linear-gradient(100% 100% 180deg,#B5B5B5, #FFFFFF, #FFFFFF 40%,#FFFFFF 75%,#B5B5B5 100%);
}

.pop_up_general #titulo_popup{
	border-radius:6px 6px 0px 0px;
	background:-webkit-gradient(linear, 100% 100%, 0% 100%, from(#B5B5B5), to(#B5B5B5), color-stop(.5,#FFFFFF),color-stop(.8,#FFFFFF),color-stop(.2,#FFFFFF));
	background:	-moz-linear-gradient(100% 100% 180deg,#B5B5B5, #FFFFFF, #FFFFFF 40%,#FFFFFF 75%,#B5B5B5 100%);
}
.pop_up_general #cuerpo_popup{

	background:-webkit-gradient(linear, 100% 100%, 0% 100%, from(#B5B5B5), to(#B5B5B5), color-stop(.5,#FFFFFF),color-stop(.8,#FFFFFF),color-stop(.2,#FFFFFF));
	background:	-moz-linear-gradient(100% 100% 180deg,#B5B5B5, #FFFFFF, #FFFFFF 40%,#FFFFFF 75%,#B5B5B5 100%);
}
.pop_up_general #pie_popup{
	border-radius:0px 0px 6px 6px;
	background:-webkit-gradient(linear, 100% 100%, 0% 100%, from(#B5B5B5), to(#B5B5B5), color-stop(.5,#FFFFFF),color-stop(.8,#FFFFFF),color-stop(.2,#FFFFFF));
	background:	-moz-linear-gradient(100% 100% 180deg,#B5B5B5, #FFFFFF, #FFFFFF 40%,#FFFFFF 75%,#B5B5B5 100%);
}

.tabla_popup{
	width:90%;
	border:0px;	
}




/**********cargando **************/

#cargando{
	
	left:490px;
	top:200px;
	width:300px;
	height:105px;
	z-index: 210;
}
#cargando #titulo_popup{
	width:100%;
	height:25px;
}
#cargando #cuerpo_popup{
	width:100%;
	height:80px;
}

#pantalla_cargando_popup{
	width:100%;

	height:64px;
	float:left;
	background: url("../../imagenes/cargando.gif") no-repeat;
}

/******************aviso**********************************/

#popup_aviso{
	
	min-height:100px;
	
}
#popup_aviso #titulo_popup{
	width:100%;
	height:25px;

	padding-right:20px;
}
#popup_aviso #cuerpo_popup{
	width:100%;
	min-height:50px;
	padding-bottom:20px;
	padding-left:10px;
	padding-right:10px;
}
#popup_aviso #pie_popup{
	width:100%;
	height:25px;
	padding-left:10px;
	padding-right:10px;
}



/******************sobre aviso**********************************/

#popup_aviso2{

	z-index:400;	
	min-height:100px;
	
}
#popup_aviso2 #titulo_popup{
	width:100%;
	height:25px;

	padding-right:20px;
}
#popup_aviso2 #cuerpo_popup{
	width:100%;
	min-height:50px;
	padding-bottom:20px;
	padding-left:10px;
	padding-right:10px;
}
#popup_aviso2 #pie_popup{
	width:100%;
	height:25px;
	padding-left:10px;
	padding-right:10px;
}


/******************sobre aviso2**********************************/

#popup_aviso3{

	z-index:500;	
	min-height:100px;
	
}
#popup_aviso3 #titulo_popup{
	width:100%;
	height:25px;

	padding-right:20px;
}
#popup_aviso3 #cuerpo_popup{
	width:100%;
	min-height:50px;
	padding-bottom:20px;
	padding-left:10px;
	padding-right:10px;
}
#popup_aviso3 #pie_popup{
	width:100%;
	height:25px;
	padding-left:10px;
	padding-right:10px;
}



/******************popup_pregunta**********************************/

#popup_pregunta{

	z-index:400;	
	min-height:100px;
	
}
#popup_pregunta #titulo_popup{
	width:100%;
	height:25px;

	padding-right:20px;
}
#popup_pregunta #cuerpo_popup{
	width:100%;
	min-height:50px;
	padding-bottom:20px;
	padding-left:10px;
	padding-right:10px;
}
#popup_pregunta #pie_popup{
	width:100%;
	height:25px;
	padding-left:10px;
	padding-right:10px;
}
