/*************POP UPS******************************//*************POP UPS******************************//*************POP UPS******************************//*************POP UPS******************************//*************POP UPS******************************//*************POP UPS******************************//*************POP UPS******************************//*************POP UPS******************************//*************POP UPS******************************//*************POP UPS******************************//*************POP UPS******************************/
.pop_up{
	position: Absolute;
	color:black;	
	display:none;
	z-index: 250;
}

.pop_up_general{	
	position: fixed;
	margin: auto;
	font-weight:bold;	
	color:black;	
	display:none;
	z-index:250;	
}

.seccion_popup{
	background-color: #FFF;
	border:solid 1px;	
	border-color:#444;		
}

.pop_up #titulo{
	border-radius:6px 6px 0px 0px;
	background:-webkit-gradient(linear, 100% 100%, 0% 100%, from(#B5B5B5), to(#B5B5B5), color-stop(.5,#FFFFFF),color-stop(.8,#FFFFFF),color-stop(.2,#FFFFFF));
	background:	-moz-linear-gradient(100% 100% 180deg,#B5B5B5, #FFFFFF, #FFFFFF 40%,#FFFFFF 75%,#B5B5B5 100%);
}
.pop_up #cuerpo{
	background:-webkit-gradient(linear, 100% 100%, 0% 100%, from(#B5B5B5), to(#B5B5B5), color-stop(.5,#FFFFFF),color-stop(.8,#FFFFFF),color-stop(.2,#FFFFFF));
	background:	-moz-linear-gradient(100% 100% 180deg,#B5B5B5, #FFFFFF, #FFFFFF 40%,#FFFFFF 75%,#B5B5B5 100%);
}


.pop_up #pie{
	border-radius:0px 0px 6px 6px;
	background:-webkit-gradient(linear, 100% 100%, 0% 100%, from(#B5B5B5), to(#B5B5B5), color-stop(.5,#FFFFFF),color-stop(.8,#FFFFFF),color-stop(.2,#FFFFFF));
	background:	-moz-linear-gradient(100% 100% 180deg,#B5B5B5, #FFFFFF, #FFFFFF 40%,#FFFFFF 75%,#B5B5B5 100%);
}

.pop_up_general #titulo{
	border-radius:6px 6px 0px 0px;
	background:-webkit-gradient(linear, 100% 100%, 0% 100%, from(#B5B5B5), to(#B5B5B5), color-stop(.5,#FFFFFF),color-stop(.8,#FFFFFF),color-stop(.2,#FFFFFF));
	background:	-moz-linear-gradient(100% 100% 180deg,#B5B5B5, #FFFFFF, #FFFFFF 40%,#FFFFFF 75%,#B5B5B5 100%);
}
.pop_up_general #cuerpo{

	background:-webkit-gradient(linear, 100% 100%, 0% 100%, from(#B5B5B5), to(#B5B5B5), color-stop(.5,#FFFFFF),color-stop(.8,#FFFFFF),color-stop(.2,#FFFFFF));
	background:	-moz-linear-gradient(100% 100% 180deg,#B5B5B5, #FFFFFF, #FFFFFF 40%,#FFFFFF 75%,#B5B5B5 100%);
}
.pop_up_general #pie{
	border-radius:0px 0px 6px 6px;
	background:-webkit-gradient(linear, 100% 100%, 0% 100%, from(#B5B5B5), to(#B5B5B5), color-stop(.5,#FFFFFF),color-stop(.8,#FFFFFF),color-stop(.2,#FFFFFF));
	background:	-moz-linear-gradient(100% 100% 180deg,#B5B5B5, #FFFFFF, #FFFFFF 40%,#FFFFFF 75%,#B5B5B5 100%);
}

.tabla_popup{
	width:90%;
	border:0px;	
}

.pop_up #cuerpo{
	/*font-size:85%;*/
	
}

.pop_up_general #cuerpo{
/*	font-size:85%;*/
	
}

/*popup_aceptar_contrato********popup_aceptar_contrato********popup_aceptar_contrato*/
#popup_aceptar_contrato{
	top:3%;
	left:25%;
	width:50%;
	height:600px;
	
}
#popup_aceptar_contrato #titulo{
	padding-right: 10px;
	width:100%;
	height:25px;
}
#popup_aceptar_contrato #cuerpo{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	
	width:100%;
	min-height:550px;
}
#popup_aceptar_contrato #pie{
	padding-left: 5px;
	padding-right: 5px;
	width:100%;
	height:25px;
}

/*popup_contrato_por_cerrar********popup_contrato_por_cerrar********popup_contrato_por_cerrar*/
#popup_contrato_por_cerrar{
	top:3%;
	left:25%;
	width:50%;
	height:600px;
	
}
#popup_contrato_por_cerrar #titulo{
	padding-right: 10px;
	width:100%;
	height:25px;
}
#popup_contrato_por_cerrar #cuerpo{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	
	width:100%;
	min-height:550px;
}
#popup_contrato_por_cerrar #pie{
	padding-left: 5px;
	padding-right: 5px;
	width:100%;
	height:25px;
}


/*popup_contrato_vc********popup_contrato_vc********popup_contrato_vc*/
#popup_contrato_vc{
	top:3%;
	left:25%;
	width:50%;
	height:600px;
}
#popup_contrato_vc #titulo{
	padding-right: 10px;
	width:100%;
	height:25px;
}
#popup_contrato_vc #cuerpo{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	
	width:100%;
	min-height:550px;
}
#popup_contrato_vc #pie{
	padding-left: 5px;
	padding-right: 5px;
	width:100%;
	height:25px;
}
/*popup_agregar_impresion********popup_agregar_impresion********popup_agregar_impresion*/
#popup_agregar_impresion{
	position: fixed;
	top:15%;
	left:32%;
	width:36%;
	height:300px;
}
#popup_agregar_impresion #titulo{
	padding-right: 10px;
	width:100%;
	height:25px;
}
#popup_agregar_impresion #cuerpo{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	
	width:100%;
	min-height:250px;
}
#popup_agregar_impresion #pie{
	padding-left: 5px;
	padding-right: 5px;
	width:100%;
	height:25px;
}



/*popup_agregar_sop********popup_agregar_sop********popup_agregar_sop*/
#popup_agregar_sop{
	position: fixed;
	top:15%;
	left:32%;
	width:36%;
	height:300px;
	
}
#popup_agregar_sop #titulo{
	padding-right: 10px;
	width:100%;
	height:25px;
}
#popup_agregar_sop #cuerpo{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	
	width:100%;
	min-height:250px;
}
#popup_agregar_sop #pie{
	padding-left: 5px;
	padding-right: 5px;
	width:100%;
	height:25px;
}

/*popup_relacionar_imp_pos********popup_relacionar_imp_pos********popup_relacionar_imp_pos*/
#popup_relacionar_imp_pos{
	position: fixed;
	top:15%;
	left:15%;
	width:70%;
	height:490px;
	z-index:350;
}
#popup_relacionar_imp_pos #titulo{
	padding-right: 10px;
	width:100%;
	height:25px;
}
#popup_relacionar_imp_pos #cuerpo{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	
	width:100%;
	min-height:440px;
}
#popup_relacionar_imp_pos #pie{
	padding-left: 5px;
	padding-right: 5px;
	width:100%;
	height:25px;
}

/*popup_cambiar_numero_proforma********popup_cambiar_numero_proforma********popup_cambiar_numero_proforma*/
#popup_cambiar_numero_proforma{
	position: fixed;
	top:25%;
	left:35%;
	width:30%;
	height:80px;
}
#popup_cambiar_numero_proforma #titulo{
	padding-right: 10px;
	width:100%;
	height:25px;
}
#popup_cambiar_numero_proforma #cuerpo{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	
	width:100%;
	min-height:30px;
}
#popup_cambiar_numero_proforma #pie{
	padding-left: 5px;
	padding-right: 5px;
	width:100%;
	height:25px;
}


/**********cargando **************/

#cargando{
	
	width:20%;
	height:200px;
}
#cargando #titulo{
	width:100%;
	height:25px;
}
#cargando #cuerpo{
	width:100%;
	height:175px;
}

#pantalla_cargando{
	width:100%;

	height:64px;
	float:left;
	background: url("../../imagenes/cargando.gif") no-repeat;
}

/******************aviso**********************************/

#popup_aviso{
	
	min-height:100px;
	
}
#popup_aviso #titulo{
	width:100%;
	height:25px;

	padding-right:20px;
}
#popup_aviso #cuerpo{
	width:100%;
	min-height:50px;
	padding-bottom:20px;
	padding-left:10px;
	padding-right:10px;
}
#popup_aviso #pie{
	width:100%;
	height:25px;
	padding-left:10px;
	padding-right:10px;
}



/******************sobre aviso**********************************/

#popup_aviso2{

	z-index:400;	
	min-height:100px;
	
}
#popup_aviso2 #titulo{
	width:100%;
	height:25px;

	padding-right:20px;
}
#popup_aviso2 #cuerpo{
	width:100%;
	min-height:50px;
	padding-bottom:20px;
	padding-left:10px;
	padding-right:10px;
}
#popup_aviso2 #pie{
	width:100%;
	height:25px;
	padding-left:10px;
	padding-right:10px;
}


/******************sobre aviso2**********************************/

#popup_aviso3{

	z-index:500;	
	min-height:100px;
	
}
#popup_aviso3 #titulo{
	width:100%;
	height:25px;

	padding-right:20px;
}
#popup_aviso3 #cuerpo{
	width:100%;
	min-height:50px;
	padding-bottom:20px;
	padding-left:10px;
	padding-right:10px;
}
#popup_aviso3 #pie{
	width:100%;
	height:25px;
	padding-left:10px;
	padding-right:10px;
}



/******************popup_pregunta**********************************/

#popup_pregunta{

	z-index:400;	
	min-height:100px;
	
}
#popup_pregunta #titulo{
	width:100%;
	height:25px;

	padding-right:20px;
}
#popup_pregunta #cuerpo{
	width:100%;
	min-height:50px;
	padding-bottom:20px;
	padding-left:10px;
	padding-right:10px;
}
#popup_pregunta #pie{
	width:100%;
	height:25px;
	padding-left:10px;
	padding-right:10px;
}
