
/************************CARA1***********************/
/************************CARA1***********************/
/************************CARA1***********************/
/************************CARA1***********************/
/************************CARA1***********************/
/************************CARA1***********************/


#catalogo #contenido #cara_1 #contenido-cara_1{
	width:550px;
 	height:550px;
}



#catalogo #contenido #cara_1 #contenido-cara_1 .contenido-cara_1{
 	width:550px;
 	height:550px;
}

/*
#pie_pagina{
 	width:1280px;
 	height:105px;
 	background:url("../../IMAGENES/PORTAL/footer.png")  center;
 	position:relative;
 	margin: 0px auto;
 	margin-top:30px;
}*/

