body{
	background:url("../../IMAGENES/PORTAL/fondo.jpg")  center;
	
	overflow-x:hidden;
	overflow-y:hidden;
}


/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/
/************************CABECERA***********************/

#cabecera{
 	width:1250px;
 	height:150px;
 	background:yellow;
 	margin: 0px auto;
}


#cuerpo{
 	width:1250px;
 	height:515px;
 	position:relative;
 	margin: 0px auto;
 	margin-top:30px;
}


#pie_pagina{
 	width:1280px;
 	height:105px;
 	background:url("../../IMAGENES/PORTAL/footer.png")  center;
 	position:relative;
 	margin: 0px auto;
 	margin-top:30px;
}



/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/
/***********************MENU VERTICAL PRINCIPAL**************************/



#contenedor_menu{
 	width:337px;
 	height:553px;
 	background:url("../../IMAGENES/PORTAL/minicuadernillo.png")  no-repeat;
 	
 	position:absolute;
 	left: 270px;
 	top: 0px;
 	visibility:visible;
 	z-index:50;
}


#menu_vertical{
 	width:315px;
 	height:553px;
 	background:url("../../IMAGENES/PORTAL/lapiz.png") 0 20px no-repeat;
 		
 	margin-left:37px;
 	margin-top:60px;
 	
}


#menu_vertical .opcion{
 	width:300px;
 	height:30px;
 	
 	text-align:center;
 	margin-top:30px;
 	margin-left:20px;
 	font-size: 110%;
 	float:left;
 	font-weight:bold;
 	cursor:pointer;
}


#menu_vertical .opcion[title="Seleccionada"]{
 	font-family: cursive;
 	
 	font-size: 115%;
}



/************************CATALOGO***********************/
/************************CATALOGO***********************/
/************************CATALOGO***********************/
/************************CATALOGO***********************/
/************************CATALOGO***********************/
/************************CATALOGO***********************/
/************************CATALOGO***********************/
/************************CATALOGO***********************/
/************************CATALOGO***********************/
/************************CATALOGO***********************/
/************************CATALOGO***********************/

#catalogo{

 	width:1250px;
 	height:500px;
}

#catalogo #contenido{
	width:1100px;
 	height:550px;
 	float:left;
 	position: relative;
}

#catalogo #contenido #cara_1{
 	
	width:550px;
 	height:550px;
 	
 	position:absolute;
 	left:550px;
 	
 	z-index:30;
}


#catalogo #contenido #cara_2{
 	
	width:550px;
 	height:550px;
 	
 	position:absolute;
 	left:550px;
 	
 	z-index:20;
}


#catalogo #contenido #cara_3{
 	
	width:550px;
 	height:550px;
 	
 	position:absolute;
 	left:550px;
 	
 	z-index:10;
}


#catalogo #contenido #cara_4{
 	
	width:550px;
 	height:550px;
 	
 	position:absolute;
 	left:550px;
 	
 	z-index:0;
}

#catalogo #opciones_vertical {
	
	width:90px;
 	height:550px;
 	float:left;
}


#catalogo #opciones_vertical #opcion_inicial{
	
	width:30px;
 	height:550px;
 	background:url('../../IMAGENES/PORTAL/CATALOGO/pestana_inicial.png');
 	float:left;
}

#catalogo #opciones_vertical #opcion_primaria{
	
	width:30px;
 	height:550px;
 	background:url('../../IMAGENES/PORTAL/CATALOGO/pestana_primaria.png');
 	float:left;
 	
}

#catalogo #opciones_vertical #opcion_secundaria{
	
	width:30px;
 	height:550px;
 	background:url('../../IMAGENES/PORTAL/CATALOGO/pestana_secundaria.png');
 	float:left;
 	
}


#catalogo #opciones_vertical_izq {
	
	width:60px;
 	height:550px;
 	float:left;
 	position:relative;
 	visibility:hidden;
}


#catalogo #opciones_vertical_izq #opcion_inicial{
	
	width:30px;
 	height:550px;
 	background:url('../../IMAGENES/PORTAL/CATALOGO/pestana_inicial.png');
 	
 	
 	left:60px;
 	position:absolute;
}

#catalogo #opciones_vertical_izq #opcion_primaria{
	
	width:30px;
 	height:550px;
 	background:url('../../IMAGENES/PORTAL/CATALOGO/pestana_primaria.png');
 	float:right;
 	left:90px;

 	position:absolute;
}



#catalogo #opciones_vertical_izq #cerrar_catalogo{
	
	width:30px;
 	height:150px;
 	margin-top:400px;
 	background:orange;
 	float:right;
 	display:none;
 	
}





#catalogo  #contenido #sub_menu_inferior{
	
	position: absolute;
	width: 400px;
	height: 40px;
	
	left:550px;
	bottom:0px;
	
	z-index:50;
	
	display:none;
}


#catalogo  #contenido #sub_menu_inferior .opcion{
	background:red;
	font-size: 15px;
	width: 130px;
	height: 16px;
	
	float:left;
	margin-left:10px;
	
	text-align:center;
	vertical-align:middle;	
	padding-top:7px;	
	padding-bottom:7px;
	margin-top:10px;
	cursor:pointer;
}



#catalogo  #contenido #sub_menu_inferior .opcion[title="Seleccionada"]{ 
	background:white;
	
	margin-top:0px;
}



/***********************************************************************/
/***************************CARAS CATALOGO******************************/
/***************************CARAS CATALOGO******************************/
/***************************CARAS CATALOGO******************************/
/***************************CARAS CATALOGO******************************/
/***************************CARAS CATALOGO******************************/
/***************************CARAS CATALOGO******************************/


#catalogo #contenido-inicial-1{
	width:550px;
	height:550px;
 	background:url('../../IMAGENES/PORTAL/CATALOGO/inicial_izq.png');
}

#catalogo #contenido-inicial-2{
	width:550px;
	height:550px;
 	background:url('../../IMAGENES/PORTAL/CATALOGO/inicial_der.png');
}


#catalogo .contenido-inicial{
	width:550px;
	height:550px;
	float:left;
}


#catalogo #contenido-primaria-1{
	width:550px;
	height:550px;
	background:url('../../IMAGENES/PORTAL/CATALOGO/primaria_izq.png');
}

#catalogo #contenido-primaria-2{
	width:550px;
	height:550px;
	background:url('../../IMAGENES/PORTAL/CATALOGO/primaria_der.png');
}


#catalogo .contenido-primaria{
	width:550px;
	height:550px;
	float:left;
}




#catalogo #contenido-secundaria-1{
	width:550px;
	height:550px;
	background:url('../../IMAGENES/PORTAL/CATALOGO/secundaria_izq.png');
}

#catalogo #contenido-secundaria-2{
	width:550px;
	height:550px;
	background:url('../../IMAGENES/PORTAL/CATALOGO/secundaria_der.png');
}


#catalogo .contenido-secundaria{
	width:550px;
	height:550px;
	float:left;
}


/***********************Estilos para dar efecto de transición en el catálogo con las imagenes************/

#catalogo #contenido .area{
	position:absolute;
	width:550px;
	height:550px;	
	
 	box-shadow:0px 0px 25px #111;
}

/******PARA LA CARA 1*****/

#catalogo #contenido #contenido-cara_1{  /*Recordando que el z-index más alto es el de cara 1 al principio, llegando hasta 30*/
	z-index:32;
}

#catalogo #contenido #contenido-inicial-1{  
	z-index:31;
}



/*********AHORA PARA LA CARA 2********/


#catalogo #contenido #contenido-inicial-2{  /*Recordando que el z-index más alto es el de cara 2 al principio, llegando hasta 20*/
	z-index:22;
}


#catalogo #contenido #contenido-primaria-1{  
	z-index:21;
}

/*********AHORA PARA LA CARA 3********/


#catalogo #contenido #contenido-primaria-2{  /*Recordando que el z-index más alto es el de cara 2 al principio, llegando hasta 20*/
	z-index:32
}


#catalogo #contenido #contenido-secundaria-1{  
	z-index:31;
}


